<div class="row mt-3 mb-3">
  <div class="col">
    <h3>Productos</h3>
  </div>
  <div class="col text-right">
    <button title="Nuevo producto" class="btn btn-outline-info" data-toggle="modal" data-target="#productoModal"><i
        class="fa fa-plus"></i></button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of productos">
      <th scope="row" width="20%">{{p.titulo}}</th>
      <td>{{p.descripcion}}</td>
      <td width="15%">$ {{p.precio}}</td>
      <td>
        <button title="Borrar producto" class="btn btn-danger btn-sm mr-1" (click)="eliminarProducto(p._id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button title="Editar producto" class="btn btn-success btn-sm" (click)="editarProducto(p)" data-toggle="modal" data-target="#productoModal">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- PRODUCTO MODAL -->
<div class="modal fade" id="productoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Producto</h5>
        <button id="closeProductoModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="guardarProducto()">
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input class="form-control" type="text" name="titulo" [(ngModel)]="producto.titulo" ngModel required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <textarea class="form-control" name="descripcion"[(ngModel)]="producto.descripcion" ngModel required></textarea>
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input class="form-control" type="number" name="precio" [(ngModel)]="producto.precio" ngModel required>
          </div>
          <button class="btn btn-primary flex" type="submit">
            <span id="l-guardar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              style="display:none;"></span>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
